// 颜色
$accentColor = #813c85
$textColor = #333
$borderColor = #eaecef
$codeBgColor = #1e131d
$arrowBgColor = #ccc
$badgeTipColor = #813c85
$badgeWarningColor = darken(#f8d86a, 35%)
$badgeErrorColor = #ef475d

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 28rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
